page-petitions {
    ion-content {
        background: #eee !important;
    }
    .item-md {
        padding-left: 8px !important;
    }
    ion-avatar img {
        border-radius: 5px !important;
        width: 50px !important;
        height: 50px !important;
    }
}
