page-petitions {
    ion-content {
        background: #eee !important;
    }
    .item-md {
        padding-left: 8px !important;
    }
    ion-avatar img {
        border-radius: 5px !important;
        width: 50px !important;
        height: 50px !important;
    }
    .card-title-md {
        font-size: 1.6rem !important;
        line-height: 1.2 !important;
        color: #222;
        margin: 2px 0 !important;
        padding: 8px 0 !important;
    }
    .card-content-md {
        padding: 1px 16px !important;
        font-size: 1.3rem !important;
        line-height: 1.5;
    }
}
