<ion-header>
  <ion-navbar color="clean">
    <ion-title>Follow Your Vote</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


        <ion-slides spaceBetween="3" slidesPerView="1.2" pager="false">
          <ion-slide (click)="navigate()">
            <ion-card class="poster" [style.backgroundImage]="'url(assets/img/buhari-next-level.jpg)'">
              <!--<div (click)="navigate()" class="boxf">President Buhari</div>-->
          </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="poster" [style.backgroundImage]="'url(assets/img/buhari-next-level.jpg)'">
              <!--<div (click)="navigate()" class="boxf">President Buhari</div>-->
          </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="poster" [style.backgroundImage]="'url(assets/img/buhari-next-level.jpg)'">
              <!--<div (click)="navigate()" class="boxf">President Buhari</div>-->
          </ion-card>
          </ion-slide>
      </ion-slides>

      <ion-row class="row">
          <ion-col class="col" col-9="">
              <p class="tops">Elected Officials</p>
          </ion-col>
          <ion-col text-right (click)="seeAll()" class="col" col-3="">
              <p item-end class="tops">See All</p>
          </ion-col>
        </ion-row>
    
    
        <ion-slides spaceBetween="3" slidesPerView="4.2" pager="false">
            <ion-slide *ngFor="let post of posts" (click)="navigate(post)">
              <ion-card class="poster-card" [style.backgroundImage]="'url(' + post.thumb + ')'">
            </ion-card>
            </ion-slide>
      </ion-slides>
  
  
  
      <ion-row class="row">
        <ion-col class="col" col-9="">
            <p class="tops">Follow Your Party</p>
        </ion-col>
        <ion-col text-right class="col" col-3="">
            <p class="tops">See All</p>
        </ion-col>
      </ion-row>
  
  
      <ion-slides spaceBetween="3" slidesPerView="4.2" pager="false">
          <ion-slide>
            <ion-card class="poster-card" [style.backgroundImage]="'url(assets/img/parties/apc.jpg)'">
          </ion-card>
          </ion-slide>
      
          <ion-slide>
            <ion-card class="poster-card" [style.backgroundImage]="'url(assets/img/parties/pdp.png)'">
          </ion-card>
          </ion-slide>
      
          <ion-slide>
            <ion-card class="poster-card" [style.backgroundImage]="'url(assets/img/parties/labour.jpg)'">
          </ion-card>
          </ion-slide>
  
          <ion-slide>
            <ion-card class="poster-card" [style.backgroundImage]="'url(assets/img/parties/adp.jpeg)'">
          </ion-card>
          </ion-slide>
          
          <ion-slide>
            <ion-card class="poster-card" [style.backgroundImage]="'url(assets/img/parties/green.jpeg)'">
          </ion-card>
          </ion-slide>
        </ion-slides>
  
        <ion-row class="row">
          <ion-col class="col" col-9="">
              <p class="tops">Analyst Reviews</p>
          </ion-col>
          <ion-col text-right class="col" col-3="">
              <p class="tops">See All</p>
          </ion-col>
        </ion-row>
  
       <!--<div *ngFor="let post of posts">{{post.name}}
            <div *ngFor="let promise of post.promises">{{promise | json}}</div>
          </div>--> 
  
      <ion-list>
        <button ion-item>
          <ion-avatar item-start>
            <img src="assets/img/yemi.jpg">
          </ion-avatar>
          <p>President Buhari</p>
          <button (click)="follow()" item-end ion-button [style.background-color]="isFollowing ? '#209485' : '#f53d3d'">{{isFollowing ? 'Unfollow' : 'Follow'}}</button>
        </button>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/yemi.jpg">
          </ion-avatar>
          <p>President Buhari</p>
          <button item-end ion-button color="danger">Follow</button>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/yemi.jpg">
          </ion-avatar>
          <p>President Buhari</p>
          <button item-end ion-button color="danger">Follow</button>
        </ion-item>
      </ion-list>



  
</ion-content>
