page-officials {
    ion-slides {
        display: inline !important;
    }
    ion-content {
        background: #fff !important;
    }
    .poster {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
    .boxf {
        background: rgba(0,0,0,0.7);
        width: 100%;
        text-align: start;
        padding: 5px;
        color: #ffffff;
    }

    .poster-card {
        height: 70px;
        width: 100%;
        border-radius: 5px
    }
    .scroll-content {
        padding: 2px !important;
    }
    .swiper-container {
        height: auto !important;
    }
    .swiper-slide {
        background-size: cover;
    }
    .card {
        margin: 0 !important;
        border-radius: 2px;
        width: 100% !important;
        background-size: cover
    }
    .card-content-md {
        padding: 3px 2px !important;
        font-size: 1.2rem !important;
        line-height: 1.0 !important;
    }
    .row {
        background: #eee !important;
        margin: 2px 0 !important;
    }
    p.tops {
        line-height: 0.1 !important;
    }
    .item-block .item-inner {
        padding-right: 0px !important;
    }
    .item {
        padding-left: 10px;
    }
}
