page-party {
    .scroll-content {
        margin-top: 0px !important;
    }
    .toolbar-background-md {
        background: transparent !important;
    }
    ion-title {
        display: none !important;
    }
    .card-md {
        margin: 0px !important;
        width: 100% !important;
    }
}
